<section id="our-feature" class="padding single-feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-7 text-md-left text-center wow fadeInLeft" data-wow-delay="300ms">
        <div class="heading-title heading_space">
          <h2 class="darkcolor bottom30">Klika słów o Nas</h2>
          <span>Kubek z własnym nadrukiem</span>
        </div>
        <p class="bottom35">
        Na naszej stronie internetowej zajmującej się sprzedażą kubków z nadrukami znajdziesz szeroki wybór kubków z różnymi nadrukami. Możesz zamówić kubek z nadrukiem swojego ulubionego zdjęcia lub napisu, a także kupić z gotowym nadrukiem z różnych kategorii. Wszystkie kubki są wykonane z wysokiej jakości ceramiki, dzięki czemu są trwałe i eleganckie.  
        </p>
      </div>
      <div class="col-md-6 col-sm-5 wow fadeInRight" data-wow-delay="350ms">
        <div class="simage top50 img-shadow">
          <img alt="SEO" src="/images/just_code_it.png" />
        </div>
      </div>
    </div>
  </div>
</section>