<section id="contactus" class="padding_top">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="heading-title heading_space wow fadeInUp" data-wow-delay="300ms">
          <span>Pozostańmy w kontakcie</span>
          <h2 class="darkcolor">Kontakt 3dmkubek</h2>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 margin_bottom wow fadeInUp" data-wow-delay="350ms">
        <p>
          Zapraszmay do kontaktu i darmowej wyceny twojego modelu. Jeśli
          jeszcze nie masz modelu oferujemy stworzenie modelu na podstawie
          rysunku technicznego.
        </p>
        <div class="row">
          <div class="col-md-6 col-sm-6 our-address top40">
            <h5 class="bottom25">Nasz telefon</h5>
              <p class="bottom15">
                Telefon : +48 793785747
              <span class="block">
                Od poniedziałku do piątku od 9-17
              </span>
            </p>
            <a class="pickus" href="tel:793785747" data-text="Zadzwoń">Zadzwoń</a>
          </div>
          <div class="col-md-6 col-sm-6 our-address top40">
            <h5 class="bottom25">Nasz email</h5>
            <p class="bottom15">Główny email : adrian.wojdat@gmail.com</p>
            <a class="pickus" href="mailto:adrian.wojdat@gmail.com" data-text="Wyślij wiadomość">Wyślij wiadomość</a>
          </div>
          <div class="col-md-6 col-sm-6 our-address top40">
            <h5 class="bottom25">Wsparcie techniczne</h5>
            <p class="bottom15">Główny kontakt: kontakt@3d-mkubek.pl</p>
            <a class="pickus pagescroll" href="/#our-process" data-text="Zamów usługę">Zamów usługę</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 margin_bottom">
        <form class="getin_form wow fadeInUp" data-wow-delay="400ms" id="contact-form">
          <div class="row">
            <div class="col-sm-12" id="result"></div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group bottom35">
                <input class="form-control" type="text" placeholder="Imię:" required id="first_name" name="name"/>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group bottom35">
                <input class="form-control" type="text" placeholder="Nazwisko:" required id="last_name" name="surname"/>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group bottom35">
                <input class="form-control" type="email" placeholder="Email:" required id="email" name="email"/>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group bottom35">
                <input class="form-control" type="tel" placeholder="Telefon:" id="phone" name="phone"/>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group bottom35">
                <textarea class="form-control" placeholder="Wiadomość" id="message" name="info"></textarea>
              </div>
            </div>
            <div class="col-sm-12">
              <button type="submit" class="button btnprimary" id="submit_btn">
                Wyślij
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>