<footer id="site-footer" class="padding_half">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <img src="images/logo-dark.png" alt="logo" class="footer-logo bottom45"/>
        <ul class="social-icons small bottom25 wow fadeInUp" data-wow-delay="300ms">
          <li>
            <a href="https://www.facebook.com/3d-mkubekpl-110073513835551"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/mkubek/"><i class="fa fa-instagram"></i></a>
          </li>
          <li>
            <a href="mailto:mkubek.kontakt@gmail.com"><i class="fa fa-envelope-o"></i></a>
          </li>
        </ul>
        <p class="copyrights wow fadeInUp" data-wow-delay="350ms">
          &copy; 2022 mKubek.pl
        </p>
      </div>
    </div>
  </div>
</footer>