<section id="our-portfolio" class="bglight padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-12 text-center">
        <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
          <span>Portfolio</span>
          <h2 class="darkcolor bottom10">Ostatnie wymkubeki</h2>
          <p class="heading_space">
            Wybrane modele które zostały przez nas ostatnio wymkubekowane. 
            Wymkubekuj u nas swój model 3D i dołącz do grona zadowolonych klientów.
          </p>
        </div>
      </div>
    </div>

    <div id="flat-gallery" class="cbp dark_overlay">
      <div class="cbp-item web logo">
        <img src="/images/cube2.png" alt="Kostka" />
        <div class="overlay center-block whitecolor">
            <a class="plus" data-fancybox="gallery" href="/images/cube2.png"></a>
          <h4 class="top30">Glowti</h4>
          <p>Dwuczęściowa lampka <a href="https://glowti.com">Glowti</a></p>
        </div>
      </div>

      <div class="cbp-item graphic print">
        <img src="images/reinder1.png" alt="" />
        <div class="overlay center-block whitecolor">
            <a class="plus" data-fancybox="gallery" href="/images/reinder1.png"></a>
          <h4 class="top30">Renifer</h4>
          <p>Świąteczny renifer wykonany z PLA</p>
        </div>
      </div>

      <div class="cbp-item logo graphic">
        <img src="/images/lithophane.png" alt="" />
        <div class="overlay center-block whitecolor">
            <a class="plus" data-fancybox="gallery" href="/images/lithophane.png"></a>
          <h4 class="top30">Litofan</h4>
          <p>mkubekowanie dwuwymiarowych zdjęć w 3d</p>
        </div>
      </div>

      <div class="cbp-item print">
        <img src="/images/heart1.png" alt="" />
        <div class="overlay center-block whitecolor">
            <a class="plus" data-fancybox="gallery" href="/images/heart1.png"></a>
          <h4 class="top30">Brelok</h4>
          <p>I wiele innych rozmaitych breloków</p>
        </div>
      </div>

      <div class="cbp-item logo">
        <img src="images/vase3.png" alt="" />
        <div class="overlay center-block whitecolor">
            <a class="plus" data-fancybox="gallery" href="images/vase3.png"></a>
          <h4 class="top30">Wazon</h4>
          <p>mkubekowany wazon dla nowoczesnych wnętrz</p>
        </div>
      </div>

      <div class="cbp-item web print graphic">
        <img src="/images/cookies_form1.png" alt="" />
        <div class="overlay center-block whitecolor">
            <a class="plus" data-fancybox="gallery" href="/images/cookies_form1.png"></a>
          <h4 class="top30">Foremki</h4>
          <p>Różnorakie foremki do wycinania ciast</p>
        </div>
      </div>
    </div>
  </div>
</section>