<section id="our-portfolio" class="bglight padding">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-12 text-center">
        <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
          <span>Portfolio</span>
          <h2 class="darkcolor bottom10">Ostatnie wydruki</h2>
          <p class="heading_space">
            Ostatnie modele które zostały przez nas ostatnio wykonane. 
            Wydrukuj u nas swój nadruk lub wybierz z gotowych i dołącz do grona zadowolonych klientów.
          </p>
        </div>
      </div>
    </div>

    <div id="flat-gallery" class="cbp dark_overlay">
      <div class="cbp-item web logo">
        <img src="/images/tea.jpg" alt="Tea" />
        <div class="overlay center-block whitecolor">
            <a class="plus" data-fancybox="gallery" href="/images/tea.jpg"></a>
          <h4 class="top30">Tea</h4>
        </div>
      </div>

      <div class="cbp-item graphic print">
        <img src="images/just-code-it.jpg" alt="Just code it" />
        <div class="overlay center-block whitecolor">
            <a class="plus" data-fancybox="gallery" href="/images/just-code-it.jpg"></a>
          <h4 class="top30">Just code it</h4>
        </div>
      </div>

      <div class="cbp-item logo graphic">
        <img src="/images/bunny.jpg" alt="bunny" />
        <div class="overlay center-block whitecolor">
            <a class="plus" data-fancybox="gallery" href="/images/bunny.jpg"></a>
          <h4 class="top30">Bunny</h4>
        </div>
      </div>

      <div class="cbp-item print">
        <img src="/images/snowman.jpg" alt="snowman" />
        <div class="overlay center-block whitecolor">
            <a class="plus" data-fancybox="gallery" href="/images/snomwan.jpg"></a>
          <h4 class="top30">Snowman</h4>
        </div>
      </div>

      <div class="cbp-item logo">
        <img src="images/just-code-it-bg.jpg" alt="" />
        <div class="overlay center-block whitecolor">
            <a class="plus" data-fancybox="gallery" href="images/just-code-it-bg.jpg"></a>
          <h4 class="top30">Just code it (inne tło)</h4>
        </div>
      </div>

      </div>
    </div>
  </div>
</section>