
<section id="our-apps" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
          <span>Jakość</span>
          <h2 class="darkcolor heading_space">To co nas wyróżnia</h2>
      </div>
    </div>
  </div>
  <div class="row" id="app-feature">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="content-left clearfix">
        <div class="feature-item left top30 bottom30 wow fadeInUp" data-wow-delay="300ms">
          <span class="icon"><i class="fa fa-mobile-phone"></i></span>
          <div class="text">
            <h4>Jakość</h4>
            <p>
              This is Photoshop's version of Lorem Ipsum. Proin gravida
              nibh vel velit auctor aliquet
            </p>
          </div>
        </div>

        <div class="feature-item left top30 bottom30 wow fadeInUp" data-wow-delay="350ms">
          <span class="icon"><i class="fa fa-cog"></i></span>
          <div class="text">
            <h4>Amazing Theme Options</h4>
            <p>
              This is Photoshop's version of Lorem Ipsum. Proin gravida
              nibh vel velit auctor aliquet
            </p>
          </div>
        </div>

        <div class="feature-item left top30 bottom30 wow fadeInUp" data-wow-delay="400ms">
          <span class="icon"><i class="fa fa-edit"></i></span>
            <div class="text">
              <h4>Easy to Customize</h4>
              <p>
                This is Photoshop's version of Lorem Ipsum. Proin gravida
                nibh vel velit auctor aliquet
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="image feature-item text-center wow fadeIn" data-wow-delay="500ms">
          <img src="images/result.png" alt="" />
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="content-right clearfix">
          <div class="feature-item right top30 bottom30 wow fadeInUp" data-wow-delay="300ms">
            <span class="icon"><i class="fa fa-code"></i></span>
            <div class="text">
              <h4>Powerful BackEnd</h4>
              <p>
                This is Photoshop's version of Lorem Ipsum. Proin gravida
                nibh vel velit auctor aliquet
              </p>
            </div>
          </div>

          <div class="feature-item right top30 bottom30 wow fadeInUp" data-wow-delay="350ms">
            <span class="icon"><i class="fa fa-folder-o"></i></span>
            <div class="text">
              <h4>Well Documented</h4>
              <p>
                This is Photoshop's version of Lorem Ipsum. Proin gravida
                nibh vel velit auctor aliquet
              </p>
            </div>
          </div>

          <div class="feature-item right top30 bottom30 wow fadeInUp" data-wow-delay="400ms">
            <span class="icon"><i class="fa fa-support"></i></span>
            <div class="text">
              <h4>24/7 Support</h4>
              <p>
                This is Photoshop's version of Lorem Ipsum. Proin gravida
                nibh vel velit auctor aliquet
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>